# history
.Rhistory

# user-specific
.DS_Store
.Ruserdata

# rstudio
.Rproj.user/

# r environment
.Renviron

# knitr/markdown/outputs
*.utf8.md
*.knit.md


# data
data-temp/
.RDataTmp
*rosm.cache/
*.docx